
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bookmark.try(:title) %>
</p>

<p>
  <strong>Url:</strong>
  <%= @bookmark.try(:url) %>
</p>

<%= link_to("Edit", {:action => 'edit'}) %> |
<%= link_to("Back", {:action => 'index'}) %>
